- if current_user
  %h3 Your Recent Purchases:
  %table#purchase-table
    %thead
      %tr
        %th Date of Purchase
        %th Total Amount
        %th

    %tbody
      - @purchases.each do |purchase|
        %tr
          %td= purchase.created_at.strftime("%m/%d/%Y")
          %td= sprintf "%.2f", purchase.amount
          %td= link_to "See Details", user_purchase_path(purchase)
