- if current_user
  %h2 Your Recent Purchases:
  %table#purchase-table
    %thead
      %tr
        %th Date of Purchase
        %th Total Amount



    %tbody
      - @purchases.each do |purchase|
        %tr
          %td= link_to purchase.created_at.strftime("%m/%d/%Y"), user_purchase_path(purchase)
          %td= sprintf "%.2f", purchase.amount
