!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Your order has shipped, #{@user.first_name} !
    %h2
      @purchase

    %p
      To login to the site, just follow this link: #{@url}.
    %p Thanks again for your order and have a great day!
