/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */

@import url(https://fonts.googleapis.com/css?family=Asap+Condensed|IM+Fell+Great+Primer);
@import "bootstrap";

body {
  background-color: #E8E8EE;
}

form {
  width: 80%;
  margin-left: 20px;
}

.image {
  padding: 1px;
  border: 1px solid #021a40;
  background-color: white;
}

.alert-box {
  font-size: 16px;
}

#purchase-table {
  margin-left: auto;
  margin-right: auto;
  border-spacing: 0.5rem;
  padding: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: #f79646 #ccc;
  background-color: #fde9d9;
  border-collapse: collapse;
  width: 30%;
  letter-spacing: 1px;
}

h1.items_header {
   text-align: center;
}

.items-index {
  text-align: center;
  font-size: 20px;
  margin: 1.66%;
  width: 30%;
  padding-bottom: 10%;
  float: left;
  position: relative;
  overflow: hidden;
}

 .item-show-links {
   position: absolute;
   width:300px;
   height:200px;
   z-index: 15;
   top:75%;
   margin-left: 460px;
   margin-top: 35px;
 }

.item-show-info, {
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: 15;
  top: 25%;
  left: 50%;
  margin: -100px 0 0 -150px;
}

.column.large-2 {
  margin-bottom: 35px;
}

#totals {
  margin-top: 45px;
  margin-bottom: 35px;
}

.search-empty {
  margin-left: 800px;
  margin-bottom: 25px;
  padding-bottom: 50px;
}

.success {
  margin-left: 250px;
  margin-right: 875px;
  padding: 8px;
  margin-bottom: 50px;
  text-decoration-color: white !important;
  border: solid #228B22;
}

.content {
  margin-top: 75px;
}

.reviews {
  border: solid black 1px;
  padding: 15px;
  margin-top: 10px;
  background-color: #fdfdfd;
}

h3.review-header {
  margin-top: 25px;
}

.item-name {
  color: black !important;
}

#login-form, #signup-form, #edit-user-form, #new-item-form, #edit-item-form {
  margin: 200px;
}

.cart-item {
  border-bottom: solid grey 2px;
  margin: 3px;
}

.cancel-account {
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
  background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
  background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
  background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
  background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
  background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
  background-color:#ededed;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #dcdcdc;
  display:inline-block;
  cursor:pointer;
  color:#777777;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
}
.cancel-account:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
  background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
  background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
  background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
  background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
  background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
  background-color:#dfdfdf;
}
.cancel-account:active {
  position:relative;
  top:1px;
}

.submit-buttons {
	-moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
	background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
	background-color:#768d87;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Asap Condensed', sans-serif;
	font-size:14px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
.submit-buttons:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
	background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
	background-color:#6c7c7c;
}
.submit-buttons:active {
	position:relative;
	top:1px;
}

.search-button {
	-moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
	-webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
	background:-moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
	background-color:#33bdef;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}
.search-button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
	background:-moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0);
	background-color:#019ad2;
}
.search-button:active {
	position:relative;
	top:1px;
}

#remove-button {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
	background-color:#b20000;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Asap Condensed', sans-serif;
	font-size:14px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}

#add-button {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
	background-color:#3333ff;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Asap Condensed', sans-serif;
	font-size:14px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
  margin: 8px;
}

body, h1, h2, h3, h4 .button {
  font-family: 'Asap Condensed', sans-serif;
}

#thanks-back, .past-orders, .thanks-page, .user-past-purchase-show, #new-review, #back-item-link, #item-button, #view-purchases {
  margin-left: 20px;
}

#view-purchases {
  border-top: dashed 1px black;
  margin-right: 20px;
}

#past-purchase {
  margin-bottom: 45px;
}

#actual-orders {
  border: solid black 2px;
  margin-right: 400px;
  text-align: center;
}

.cart-total {
  font-size: 12px;
}

.all-ratings {
  border: solid grey 1px;
  margin: 50px;
  padding: 10px;
  text-align: center;
  background-color: #FFE9C1;
  float: left;
}

#add-review-button {
	font-size: 16px;
  text-decoration: none !important;
	color: #ffffff !important;
  text-align: center;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#fff3db 0%,
		#ffc821 25%,
		#ff3c00);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#fff3db),
		color-stop(0.25, #ffc821),
		to(#ff3c00));
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #b85f00;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px -1px 0px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px -1px 0px rgba(255,255,255,0.7);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px -1px 0px rgba(255,255,255,0.7);
	text-shadow:
		0px -1px 1px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,0.3);
    margin-bottom: 50px;
    width: 70%;
}

#review-header, #review-item-name, #review-item-image, #recent-purchases-header {
  text-align: center;
}

.current-category {
  margin: 20px;
}

.dropdown {
  background-color: #FFFF7F;
  border-radius: 15px;
  border: solid 1px black;
}

#totals-guest {
  font-size: 20px;
}

.navbar-inverse {
  background-color: #2f2f2f;
}

a.navbar-brand {
  color: #fff;
}

.nav-item {
  margin: 10px;
}

li.nav-item a {
  color: #fff;
}

#category-dropdown {
  color: #19198c;
}

#drop1 a {
  color: #19198c !important;
}
