.thanks-page
  %h2
    Thanks, your transaction was handled successfully!!
    %br

    %br
    Your item(s) will be shipped to:
    %br
    %br
    = current_user.address
    %br
    = current_user.city
    ,
    = current_user.state

  %h3#thanks-back
    = link_to "Back", :back
